html{
    height: 100%
}

h1 {
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
    background: linear-gradient(to right, #91eae4, #86a8e7, #7F7FD5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: white;
}

h2 {
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
    background: linear-gradient(to right, #91eae4, #86a8e7, #7F7FD5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    height: 100%;
    display: flex;
}

#toolbar {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    width: 80px;
    background-color: #202020;
    height:100%;
}

#toolbar * {
    margin-bottom: 6px;
}

#toolbar label {
    font-size: 14px;
}

#toolbar input {
    width: 90%;
}

#toolbar button {
    background-color: #1565c0;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 2px;
}

#checkbox {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center"
}

#checkbox input[type=checkbox] {
    transform: scale(0.5);
}